In [115]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

df = pd.read_csv('../Data/clean_output1.csv', sep = ";")

new_df = pd.DataFrame({'textContent' : [df['textContent'].iloc[0]]})
base_df = df['textContent'].iloc[1:]
# Inicjalizacja obiektu TF-IDF Vectorizer
tfidf_vectorizer = TfidfVectorizer()

# Fit i transformacja tekstu do reprezentacji TF-IDF
tfidf_matrix = tfidf_vectorizer.fit_transform(base_df)

# Konwersja rzadkiej macierzy TF-IDF do ramki danych
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

new_df = tfidf_vectorizer.transform(new_df).toarray()
# new_df = new_df[np.where(new_df > 0)]
new_df = pd.DataFrame(new_df, columns=tfidf_vectorizer.get_feature_names_out())
new_df

In [116]:
new_df = tfidf_vectorizer.transform(new_df).toarray()
# new_df = new_df[np.where(new_df > 0)]
new_df = pd.DataFrame(new_df, columns=tfidf_vectorizer.get_feature_names_out())
new_df

,00,000,00000,000zł,01102003,02,03731,05122003,10,100,...,żaroodporny,żuławska,żużla,życie,życiowy,żółty,żądani,żądania,żądanie,żądać
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [96]:
base_df.iloc[0:]

1     Sygn akt ACa 120602 \r\n\r\n  WYROK \r\n  IMIE...
2     Sygn akta Ca 904 \r\n\r\n  WYROK \r\n  IMIENIU...
3     Sygn akt ACa 29904 \r\n\r\n  WYROK \r\n  IMIEN...
4     Sygn akt Ca 15504 \r\n\r\n  WYROK \r\n  IMIENI...
5     Sygn akta Ca 55004 \r\n  Cz 78104 \r\n\r\n  WY...
6     Sygn akt ACa 101204 \r\n\r\n  WYROK \r\n  IMIE...
7     Sygn akt ACa 94004 \r\n\r\n  wYROK \r\n  IMIEN...
8     Sygn akt ACa 136704 \r\n  ACa 100404 \r\n\r\n ...
9     Sygn akt ACa 187804 \r\n  224304 \r\n\r\n  wYR...
10    Sygn akt ACa 131304 \r\n\r\n  WYROK \r\n  IMIE...
11    Sygn akt ACa 195104 \r\n\r\n  WYROK \r\n  IMIE...
Name: textContent, dtype: object

In [82]:
def calculateSimilarity(new_data:np.ndarray, base_df:pd.DataFrame):
    """
    This functions will have documentation later

    Args:
        base_df (pd.DataFrame): _description_
        new_data (pd.Series): _description_

    Returns:
        _type_: _description_
    """

    # Oblicz podobieństwo kosinusowe
    cosine_similarities = cosine_similarity(new_data, base_df)

    # Konwertuj wynik do ramki danych
    similarity_df = pd.DataFrame({'Cosine Similarity': cosine_similarities[0]}, index=df.index[1:12])
    return similarity_df

In [84]:
# Wyświetlenie wyniku
print(calculateSimilarity(new_df, tfidf_df).sort_values(by = 'Cosine Similarity'))

    Cosine Similarity
1                 0.0
2                 0.0
3                 0.0
4                 0.0
5                 0.0
6                 0.0
7                 0.0
8                 0.0
9                 0.0
10                0.0
11                0.0

In [111]:
tfidf_df

,00,000,00000,000zł,01102003,02,03731,05122003,10,100,...,żaroodporny,żuławska,żużla,życie,życiowy,żółty,żądani,żądania,żądanie,żądać
0,0.03151,0.000000,0.000000,0.000000,0.000000,0.013467,0.000000,0.000000,0.055521,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.000000,0.000000
1,0.00000,0.000000,0.012944,0.000000,0.012944,0.000000,0.000000,0.012944,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.015120,0.029852
2,0.00000,0.000000,0.000000,0.000000,0.000000,0.032144,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.007321,0.017346
3,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006052,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.004681,0.005545
4,0.00000,0.014885,0.000000,0.014885,0.000000,0.000000,0.000000,0.000000,0.007494,0.000000,...,0.000000,0.000000,0.000000,0.108146,0.000000,0.000000,0.0000,0.0000,0.026080,0.017164
5,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.024062,0.011976,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.012407,0.022046
6,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.027754,0.000000,...,0.018376,0.009188,0.009188,0.000000,0.000000,0.000000,0.0000,0.0000,0.007155,0.016952
7,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020985,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.008171,0.000000
8,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.021394,0.060132,...,0.000000,0.000000,0.000000,0.002137,0.000000,0.032497,0.0025,0.0025,0.019467,0.019601
9,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.013365,0.015832
10,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.018655,0.009285,...,0.000000,0.000000,0.000000,0.000000,0.024703,0.000000,0.0000,0.0000,0.014428,0.000000